# Ignore all hidden files
.*

# Explicitly specify which hidden file we want
/!.gitignore
/!.gitattributes
/!.editorconfig
!.keep

# Python cache
__pycache__
*.py[cod]

# Project specific ignores
conf_examples/default/servers-enabled/*
conf_tests/*
