[Unit]
Description="Ssh tunnel daemon (%i)"
After=network-online.target
After=network.target
After=syslog.target

[Service]
Type=simple
User=ssh-tunnel
Group=nogroup
ExecStart=/usr/bin/env python /usr/local/sshtunnel/sshtunnel.py run -c /usr/local/sshtunnel/sshtunnel.conf -l syslog "%i"

[Install]
WantedBy=multi-user.target
